.container.mx-auto
  %h1.text-lg.font-medium.leading-6.text-gray-900.mb-5 New Timesheet entry
  .container.form-wrapper
    .shadow.sm:rounded-md.sm:overflow-hidden
      .px-4.py-5.bg-blue-50.space-y-6.sm:p-6
        = form_with model: @entry do |form|
          - @entry.errors.full_messages_for(:base).each do |message|
            #alert-1.flex.p-4.mb-4.bg-red-100.rounded-lg{:role => 'alert'}
              .ml-3.text-sm.font-medium.text-red-700= message
          .mb-6
            = form.label :date, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'
            = form.date_field :date, required: true, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
            - @entry.errors.full_messages_for(:date).each do |message|
              %p.mt-2.text-sm.text-red-600
                %span.font-medium= message
          .mb-6.grid.grid-cols-6.gap-6
            .col-span-6.sm:col-span-3
              = form.label :start_time, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'
              = form.time_field :start_time, required: true, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              - @entry.errors.full_messages_for(:start_time).each do |message|
                %p.mt-2.text-sm.text-red-600
                  %span.font-medium= message
            .col-span-6.sm:col-span-3
              = form.label :finish_time, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'
              = form.time_field :finish_time, required: true, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              - @entry.errors.full_messages_for(:finish_time).each do |message|
                %p.mt-2.text-sm.text-red-600
                  %span.font-medium= message
          .mb-6
            = form.submit class: 'text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
